<!--The content below is only a placeholder and can be replaced.-->
<div class="container" style="text-align:left">
    <div class="row">
        <h1>Angular </h1>
    </div>
    <nav class="breadcrumb">
        <a class="breadcrumb-item" routerLink="property" routerLinkActive="active">Property Binding</a>
        <a class="breadcrumb-item" routerLink="class" routerLinkActive="active">Class Binding</a>
        <a class="breadcrumb-item" routerLink="style" routerLinkActive="active">Style Binding</a>
        <a class="breadcrumb-item" routerLink="event" routerLinkActive="active">Event Binding</a>
    </nav>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>